<template>
    <div>
        <b-card
        no-header
        no-footer
        style="min-width: 25rem;max-width: 30rem;"
        class="shadow-sm m-3 h-100">
        <div class="h-100">
            <h5 class="font-weight-bold">{{ data[0].tanggal }}</h5>
            <div v-for="(item, index) in data"
            :key="index">
                <hr />
                <div class="d-flex">
                    <p>{{item.jam}} {{ item.nama}}</p>
                    <p class="ml-auto">{{item.pengeluaraan}}</p>
                </div>
            </div>
            <hr class="border border-3" />
            <div class="d-flex w-50 float-right my-2">
                <h6>Total</h6>
                <h6 class="ml-auto">{{ calculateSum(data) }}</h6>
            </div>
        </div>

        </b-card>
    </div>
</template>
<script>
export default {
    props: {
        data: {
            type    : Array,
            default : [],
        },
        title: {
            type   : String,
            default: ''
        }
    },
    data() {
      return {
      }
    },
    methods: {
        calculateSum (list) { 
            return list.map(item => item.pengeluaraan).reduce((a, c) => { return a + c });
        }
    }
}
</script>
<style>

</style>