<template lang="">
    <b-modal
      id="modal-item"
      centered
      hide-header>
      <div>
        <h5>Tambah Entri</h5>
      </div>
      <b-form-group
        id="field-name"
        label="Name">
        <b-form-input
            id="input-1"
            v-model="name"
            trim>
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="field-price"
        label="Harga">
        <b-form-input 
            id="input-1"
            v-model="price"
            type="number" 
            trim
            @change>
        </b-form-input>
      </b-form-group>
      <template #modal-footer>
        <div>
          <b-button 
            variant="secondary"
            size="sm"
            @click="close">
            BATAL
          </b-button>
          <d-button
            variant="primary"
            @click="submit">
            KIRIM
          </d-button>
        </div>
      </template>
    </b-modal>
</template>
<script>
export default {
    props: {
        value: {type: Object, default: null},
    },
    computed: {
        name: {
            get() {
                if (!this.value) return null;

                return this.value.name;
            },
            set(value) {
                const payload = this.value || {};
                this.$emit('input', {...payload, name: value});
            },
        },
        price: {
            get() {
                if (!this.value) return null;

                return this.value.price;
            },
            set(value) {
                const payload = this.value || {};
                this.$emit('input', {...payload, price: value});
            },
        },
    },
    methods: {
        submit () {
            this.$emit('submit')
        },
        close () {
            this.$emit('close')
        }
    },
}
</script>
<style lang="">
    
</style>