<template functional>
    <b-button
        style="font-size: 12px;"
        v-bind="data.attrs"
        v-on="listeners">
        <slot />
    </b-button>
</template>
<script>
export default {
    name: 'Button'
}
</script>
<style lang="">
    
</style>