<template>
  <div>
    <div class="d-flex my-4">
      <div class="mx-auto d-flex flex-column">
        <h5 class="mx-auto">Diary Jajan {{ getDate.slice(2) }}</h5>
        <p>Pengeluaran Bulan Ini Rp: {{ calculateSum(items) }}</p>
          <div class="w-50 h-25 mx-auto">
            <d-button
              variant="primary"
              @click="$bvModal.show('modal-item')">
              TAMBAH ITEM
            </d-button>
          </div>
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <div v-for="(item, index) in groupData"
      :key="index"
      class="w-100 h-100 flex-1 flex-wrap">
        <Card
          :data="item"/>
      </div>
    </div>
    <ModalItem 
    :show="isSwitched"
    v-model="buyItem"
    @submit="addItem"
    @close="$bvModal.hide('modal-item')"/>
  </div>
</template>

<script>
import Card from '../components/Card.vue'
import ModalItem from '@/components/ModalInput'
import MONTHS from '@/menu'
import _ from 'lodash'
export default {
  name: 'IndexPage',
  components: { 
    Card,
    ModalItem,
  },
  data() {
    return {
      items     : [],
      buyItem   : {
        name      : '',
        price     : 0,
      },
      modalShow : false,
      isSwitched: false,
      date      : new Date()
    }
  },
  mounted() {
    this.init()
  },
  computed: {
    monthName () {
      return MONTHS[this.date.getMonth()]
    },
    groupData () {
      return _.groupBy(this.items, item => item.tanggal);
    },
    getDate () {
      const year = this.date.getFullYear()
      const date = this.date.getDate()
      const monthName = MONTHS[this.date.getMonth()]

      return `${date} ${monthName} ${year}`
    }
  },
  methods: {
    init() {
      this.load()
    },
    calculateSum (list) { 
        return list.reduce((n, {pengeluaraan}) => n + pengeluaraan, 0);
    },
    load () {
      const month = MONTHS[this.date.getMonth()]

      this.$axios.get(`http://localhost:3000/detail`)
        .then((response) => {
          this.items = response.data.filter(item => item.tanggal ? item.tanggal.includes(month) : '' )  // hanya menampilkan data du bulan ini
          this.$nextTick(() => {      
            this.$bvModal.hide('modal-item')
          })
        })
        .catch((error) => {
          console.error(error)
        })
        .then(() => {
        })
    },
    addItem() {
      if(!this.buyItem.name && !this.buyItem.price)
        return
      
      const timezone = new Date().toLocaleTimeString();

      this.$axios.post('http://localhost:3000/detail', {
          id           : timezone,
          jam          : timezone.slice(0, 4),
          tanggal      : this.getDate,
          nama         : this.buyItem.name,
          pengeluaraan : parseInt(this.buyItem.price),
        })
        .then((response) => {
          this.items = [...this.items, response.data];
        })
        .catch((error) => {
          console.error(error)
        })
        .finally(()=> {
          this.clear()
        })
    },
    clear () {
      this.name = ''
      this.price = 0
    }
  },
}
</script>
<style lang="css" scoped>
  .flex-1 {
    flex: 1;
  }
</style>
